.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.app-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.app-title {
  font-size: 1.5em;
}

nav {
  padding: 1rem 0;
}

nav a {
  margin-left: 1.5rem;
}

.content-container {
  margin: 1.5em;
}